# Source directories
src

# Typescript-related configurations
tsconfig.json

# Linter-related configurations
.eslintignore
.eslintrc.json
.prettierrc.json

# Editor configurations
.editorconfig
.vscode